<li data-id="{{id}}">
  <div class="poster-wrapper">
    <img src="{{backdrop_path}}" alt="movie poster image" width="298">
    <div>
      <h2 class="film-title">{{title}}</h2>
      <p class="film-vote">{{vote_average}}</p>
    </div>
  </div>
</li>
