<li class="article-list__item" data-id="{{id}}">
  <img class="article-image" src="{{img_path}}" alt="movie poster image">
  <div>
    <h2 class="film-title">{{title}}</h2>
  </div>
  <div class="inner" data-id="{{id}}"></div>
</li>
