* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.films_list {
  display: grid;
  grid-template-columns: 298px;
  grid-gap: 6px;
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.films-list__item {
  height: 156px;
  position: relative;
}

.article-image {
  height: 156px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.film-title {
  position: relative;
  z-index: 1;
  left: 12px;
  bottom: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  color: #fff;
}
.inner {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(70, 70, 70);
  background: linear-gradient(
    0deg,
    rgba(70, 70, 70, 1) 4%,
    rgba(255, 255, 255, 0) 55%
  );

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.vote {
  position: absolute;
  width: 31px;
  height: 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: inset 0px 0px 2.79px 0.21px rgba(0, 0, 0, 0.35),
    inset 0px 0px 2.64px 1.36px rgba(0, 0, 0, 0.35);
  top: 7px;
  right: 7px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .films_list {
    grid-template-columns: 345px 345px;
    /* grid-template-rows: 180px; */
    grid-gap: 13px;
  }

  .films-list__item {
    width: 345px;
    height: 180px;
  }
  .film-title {
    font-size: 14px;
  }
  .vote {
    font-size: 15px;
    width: 37px;
    height: 19px;
  }
  .article-image {
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .films_list {
    grid-template-columns: 466px 466px;
    /* grid-template-rows: 243px; */
    grid-gap: 17px;
  }
  .films-list__item {
    width: 100%;
    height: auto;
  }
  .article-image {
    height: 100%;
  }

  .vote {
    font-size: 21px;
    width: 50px;
    height: 27px;
    top: 9px;
    right: 9px;
  }
  .film-title {
    font-size: 20px;
    bottom: 36px;
  }
}
